# Flask & Server
Flask
Flask-Cors
Werkzeug

# Database
Flask-SQLAlchemy
SQLAlchemy

# # AI & Data Processing (Cho Chatbox & Recommender)
google-generativeai==0.4.0


# Utils & Security
python-dotenv
requests
PyJWT


